<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.listerily.moddedbe">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="sensorLandscape"
            android:label="@string/app_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FatalActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".InitializingActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".OptionsActivity"
            android:label="@string/app_options"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ManageNModsActivity"
            android:label="@string/app_manage_nmods"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.microsoft.xal.browser.IntentHandler"
            android:exported="true" android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="ms-xal-0000000048183522" android:host="auth"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.microsoft.xal.browser.BrowserLaunchActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation"/>
        <activity
            android:name="com.microsoft.xal.browser.WebKitWebViewController"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation"/>
    </application>

</manifest>